<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.androidsfuture.museumsDC" android:versionCode="11" android:versionName="2.0.4">
    <application android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar" android:icon="@drawable/museum_48">
        <uses-library android:name="com.google.android.maps" />
        <activity android:name=".Main"
                  android:label="@string/app_name" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

<activity android:name=".Tabs" android:configChanges="keyboard|keyboardHidden|orientation" android:screenOrientation="unspecified"></activity>
<activity android:name=".Collections" android:configChanges="keyboard|keyboardHidden|orientation" android:screenOrientation="unspecified"></activity>
<activity android:name=".Events" android:configChanges="keyboard|keyboardHidden|orientation" android:screenOrientation="unspecified"></activity>
<activity android:name=".Membership" android:configChanges="keyboard|keyboardHidden|orientation" android:screenOrientation="unspecified"></activity>
<activity android:name=".Parking" android:configChanges="keyboard|keyboardHidden|orientation" android:screenOrientation="unspecified"></activity>
<activity android:name=".MuseumItem" android:configChanges="keyboard|keyboardHidden|orientation" android:screenOrientation="portrait"></activity>
<activity android:name=".Maps" android:theme="@android:style/Theme.NoTitleBar"></activity>
<activity android:name=".MapsArt" android:theme="@android:style/Theme.NoTitleBar"></activity>
<activity android:name=".MapsFree" android:theme="@android:style/Theme.NoTitleBar"></activity>
<activity android:name=".MapsHistory" android:theme="@android:style/Theme.NoTitleBar"></activity>
<activity android:name=".MapsMansion" android:theme="@android:style/Theme.NoTitleBar"></activity>
<activity android:name=".MapsScience" android:theme="@android:style/Theme.NoTitleBar"></activity>



<!-- The application's publisher ID assigned by AdMob -->
<meta-data android:value="a14cfb17aa496d0" android:name="ADMOB_PUBLISHER_ID"/>


<!-- AdMobActivity definition -->
<activity android:name="com.admob.android.ads.AdMobActivity"
android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
android:configChanges="orientation|keyboard|keyboardHidden" />
<!-- Track Market installs -->          
<receiver android:name="com.admob.android.ads.analytics.InstallReceiver"
android:exported="true">
<intent-filter>
   <action android:name="com.android.vending.INSTALL_REFERRER" />
</intent-filter>
</receiver>
<activity android:theme="@android:style/Theme.NoTitleBar" android:name=".MapsSmithsonian"></activity>
</application>
    <uses-sdk android:minSdkVersion="4" android:targetSdkVersion="14"/>


<uses-permission android:name="android.permission.INTERNET"></uses-permission>
<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
<uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
</manifest> 